{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<p>title : {{ question.getTitle() }}</p>
		<p>created date : {{ question.getCreationDate()|date('Y-m-d H:i:s') }}</p>
		<p>priority : {{ question.getEmergency() }}</p>
		<p>description : {{ question.getDescription()|nl2br() }}</p>
		<br/>
		<hr/>
		{{ form(commentForm) }}
	</div>
{% endblock %}