{% extends 'base.html.twig' %}

{% block body %}
	{# <div class="container">
		<p>title : {{ question.getTitle() }}</p>
		<p>created date : {{ question.getCreationDate()|date('Y-m-d H:i:s') }}</p>
		<p>priority : {{ question.getEmergency() }}</p>
		<p>description : {{ question.getDescription()|nl2br() }}</p>
		<br/>
		<hr/>
		{{ form(commentForm) }}
	</div> #}

	<div class="card card-task">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-body">
            <div class="card-title">
                <a href="{{ path("questionAnswer", {question: question.getId()}) }}">
                    <h6 data-filter-by="text">{{ question.getTitle() }}</h6>
                </a>
                <p>
             	 {{ question.getDescription()|nl2br() }}
                </p>
            </div>
                <div class="d-flex align-items-center">
                    <span>Created on {{ question.getCreationDate()|date('Y-m-d H:i') }}</span>
                </div>
                <div class="dropdown card-options">
                    <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Mark answered</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Mark as best</a>
                    </div>
                    <div class="card-meta" style="margin-top:50px">
                        <a href="#" data-toggle="tooltip" title="Kenny">
                            <img alt="Kenny Tran" class="avatar" src="assets/img/avatar-male-6.jpg" />
                        </a>
                    </div>
					{{ form(commentForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}