{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="margin-top:50px">
	
    <div class="card-list" style="width:800px;margin:auto">

        {% if question is empty %}

        <p>Error</p>

        {% else %}

            <div class="card card-task">
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-body">
                    <div class="card-title">
                            <h6 data-filter-by="text" style="font-size:20px">{{ question.getTitle() |capitalize}}</h6>
                        <p class="card-text"><small class="text-muted" style="font-size:12px">Asked on {{ question.getCreationDate()|date('m d') }} at {{ question.getCreationDate()|date('H:i') }}</small></p>
                        <div class="card card-task" style="width:550px;padding:7px">
                            <blockquote class="blockquote mb-0">
                                <p class="card-text" style="font-size:17px">
                                {{ question.getDescription() | nl2br() |capitalize }}
                                </p>
                            </blockquote>
                        </div>  
                    </div>
                    <div class="dropdown card-options">
                        <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path("reportQuestion", { question: question.getId()}) }}">Report</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#">Mark as best</a>
                        </div>
                        <div class="card-meta" style="margin-top:3px;margin-bottom:5px">
                            <a href="#" data-toggle="tooltip" title="{{ question.getUser().getUsername() }}">
                                <img alt="{{ question.getUser().getUsername() }}" class="avatar" src="{{ asset('assets/uploads/picture') ~ question.getUser().getPicture()}}" />
                                {# <p>by {{ question.getUser().getUsername() }}</p> #}
                            </a>   
                        </div>
                        <div class="card-meta" style="font-size:13px">
                            <br/>
                            <p>{{ question.getUser().getDepartment() }}</p>
                        </div>        
                    </div>
                    </div>
                    {# comments #}
                    <div class="card-body" id="comment">
                        {{ form(commentForm) }} 
                    </div>
                    {% if comments is defined %}
                    
                    {% for comment in comments %}
                        <div class="card-body">
                            <img alt="{{ question.getUser().getUsername() }}" class="avatar" src="{{ asset('assets/img/avatar-male-6.jpg') }}"/>
                            <div class="card card-task" style="width:500px;margin-left:5px;padding:7px">
                                <blockquote class="blockquote mb-0" style="color:#ffc107">
                                    {% if comment.getUser().getUsername() is defined %}
                                        {{ comment.getUser().getUsername() |capitalize }}
                                    {% endif %}
                                </blockquote>
                                <div class="card-meta" style="font-size:13px">
                                    <p>{{ comment.getAnswer() |capitalize}}</p>
                                   
                                    <div class="dropdown card-options">
                                        <button class="btn-options" type="button" id="task-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{{ path("reportComment", { comment: comment.getId()}) }}">Report</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="#">Mark as best</a>
                                        </div>               
                                    </div>
                                </div>
                            </div>
                            <p class="card-text"><small class="text-muted" style="font-size:12px">{{ comment.getCreationDate()|date('m d') }} at {{ comment.getCreationDate()|date('H:i') }}</small></p>
                        </div>                        
                    {% endfor %}
                    {% endif %}
                </div>  
            </div>
            

    {% endif %}

    </div>

</div>


{% endblock %}