{% extends 'base.html.twig' %}

{% block title %}INH Departments{% endblock %}

{% block body %}

{% if department is empty %}

    <p>Error</p>

{% else %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
            <div class="page-header">

                <h1>{{ department.getLabel() }}</h1>
                <p class="lead">Members' list</p>

            </div>
            <hr>

            <div class="tab-content">
                <div class="content-list-body row">
                
                    {% for user in users %}
                        {% if user.getDepartment().getLabel() == department %}
                            <div class="col-6">
                                <a class="media media-member" href="{{ path("visitProfile", {username: user.getUsername()}) }}">
                                    <img alt="firstname lastname" class="avatar avatar-lg" src="{{ asset('uploads/picture/' ~ user.picture) }}" />
                                    <div class="media-body">
                                        <h6 class="mb-0" data-filter-by="text">{{ user.firstname }} {{ user.lastname }}</h6>
                                        <span data-filter-by="text" class="text-body">{{ user.getEmail }}</span><br>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}						
                    <hr>
                {% endif %}
                </div>
            </div>
        {% endblock %}
