{% include 'base.html.twig' %}

{% block body %}
<div class="layout layout-nav-side">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-3 mb-3">
                <ul class="nav nav-tabs flex-lg-column">
                    <li class="nav-item">
                        <a class="nav-link" id="settings-tab" href="{{ path("account_settings") }}"="account_settings" )=")" }}""="}}""" role="tab" aria-controls="password" aria-selected="false">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="password-tab" href="{{ path("passwordChange") }}"="passwordChange" )=")" }}""="}}""" role="tab" aria-controls="password" aria-selected="false">Password</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-8 col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="" role="tabpanel" id="password" aria-labelledby="password-tab">
                                {{ form_start(passwordForm) }}
                                
                                    <div class="form-group row align-items-center">
                                        <div class="col">
                                            {{ form_row(passwordForm.password) }}
                                        </div>
                                    </div>
                            {{ form_end(passwordForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
