{% extends 'base.html.twig' %}
{% block body %}
    <body>
                </div>
                <div class="main-container">

                <div class="breadcrumb-bar navbar bg-white sticky-top">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path("homepage") }}">Overview</a>
                            </li>

                            <li class="breadcrumb-item active" aria-current="page">Profile</li>
                        </ol>
                    </nav>

                    <div class="dropdown">
                        <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="material-icons">settings</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">





                            <a class="dropdown-item" href="{{ path("account_settings") }}">Account Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{{ path("logout") }}">Log out</a>

                        </div>
                    </div>

                </div>
                <div class="container">
                    
                    <div class="row justify-content-center">
                        <div class="col-lg-11 col-xl-10">
                            <div class="page-header mb-4">
                                <div class="media">
                                    <img alt="Image" src="{{ asset('uploads/picture/' ~ user.picture) }}" class="avatar avatar-lg mt-1"/>
                                    <div class="media-body ml-3">
                                        <h1 class="mb-0">{{ user.getFirstname |capitalize  }} {{ user.getLastname |capitalize }}<em style=" font-size: 10px; "> {{ user.getUsername |capitalize }} </em></h1>
                                        <p class="lead">{{ user.getDepartment }}</p>
                                        
                                            
                                
                                    </div>
                                    <div class="media-body ml-3" style="margin-left:70%;">
                                            <p><a href="mailto:{{ user.getEmail }}"><i class="fas fa-envelope"></i></a><small> {{ user.getEmail }}</small></p>
                                            <p><a href="tel:{{ user.getPhonemobile }}"><i class="fas fa-mobile-alt"></i></a><small> {{ user.getPhonemobile }}</small></p>
                                            <p><a href="tel:{{ user.getPhonefix }}"><i class="fas fa-phone"></i></a><small> {{ user.getPhonefix }}</small></p>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs nav-fill">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" id="BBB-tab" href="#BBB" role="tab" aria-controls="BBB" aria-selected="false">Asked questions</a>
                                </li>
                            </ul>
                            <br/>
                           <div class="tab-pane fade" id="BBB" role="tabpanel" aria-labelledby="BBB-tab">
                                {# sub-sub-header : To create & filter questions #}

                                    
                                    
                                    {# Questions listing: part B - Questions asked #}
    
                            <div id="myQuestions" class="card-list">      

                            </div>
                        </div>


    </body>
{% endblock %}